main {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

@media screen and (max-width: 980px){
    body {
        background-color: white;
        color: black;
    }
}

@media screen and (max-width: 600px){
    body {
        background-color: rgb(0, 0, 94);
        color: white;
    }
}

body {
    background-color: black;
    color: ghostwhite;
}

.body-title {
    color: white;
    text-align: center;
    padding: 10px;
    
}

.body-header {
    color: white;
    text-align: center;
    font-family: Arial;
}

.body-footer {
    color:rgb(178, 202, 194);
    text-align: center;
    font-family: Arial;
}

.secondary-navigation {
    padding-top: 10px;
}

.introduction-body {
    text-align: center;
}

a:link {
    color:aquamarine;
}

a:visited {
    color:darkgreen;
}

a:hover {
    color:greenyellow;
}

div.introduction-info {
    text-align: center;
}

ul.intro-list, ul.crap-principles {
    display: inline-block;
    text-align: left;
}

.contract-body {
    text-align: center;
}

.signiture {
    font-style: italic;
}

.tabulardata div {
    text-align: center;
}

.tabulardata {
    display: inline-block;
    text-align: left;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table, tr, td, th {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
}

.complextable tr:nth-child(odd) {
    background-color:rgba(227, 227, 227, 0.391);
}

.complextable tr:first-child {
    background-color: rgb(0, 84, 84);
}

.smallspacer {
    padding-bottom: 20px;
}

.medspacer {
    padding-bottom: 50px;
}

.form {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.bodytitle {
    text-align: center;
}

input[type=text], input[type=number], input[type=tel], input[type=email] {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: black;
    border: none;
    border-bottom: 1px solid darkcyan;
    outline: none;
  }

input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus {
    border: 1px solid;
    border-color: rgb(47, 255, 123);
  }

.formcheckbox, .formradio {
    font-family:Arial, Helvetica, sans-serif;
    border: none;
    color:white;
    border: none;
}

input[type=submit] {
    color: white;
    background-color: rgb(67, 67, 67);
    border: 2px solid darkcyan;
    width: 80px;
    height: 30px;
}

input[type=reset] {
    color: white;
    background-color: rgb(67, 67, 67);
    border: 2px solid darkcyan;
    width: 80px;
    height: 30px;
}

input[type=submit]:hover {
    background-color: aquamarine;
    color: black;
}

input[type=submit]:focus {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.formbuttons {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

input:invalid {
    border-color: red;
}

.scripts-page {
    text-align: center;
}

.centered-container {
    margin: 30px auto;
    width: 300px;
    border: 2px solid aquamarine;
    padding: 10px;
}

.calculator-body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: darkgray;
    height: auto;
    width: 150px;
}

.display {
    width: 250px;
    height: 50px;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    background-color: black;
    color: white;
}

.calc-button {
    padding: 10px;
}

.wire-frame-img {
    max-width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.site-map-img {
    background-color: white;
    max-width: 700px;
    height: auto;
}

.site-map {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.project-overview ul {
    list-style: none;
    text-align: left;
}

.project-overview {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.client-information ul {
    list-style: none;
    text-align: left;
}

.client-information {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.page-design, .dynamic-functionality {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.page-design ul {
    list-style: none;
    text-align: left;
}

.page-design div {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33.333333%;
}

.array-pass-fail-message {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 0;
}

.btn-group {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 20px;
}

.btn {
    background-color: black;
    color: white;
    border: 2px solid aquamarine;
    padding: 10px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-entry, #new-salary-input {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 10px;
}

.salary-select {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    background-color: black;
    color: white;
}

.employee-dropdown {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    background-color: black;
    border: none;
    border-bottom: 1px solid darkcyan;
    outline: none;
}