body {
    background-color: black;
    color: ghostwhite;
}

.body-title {
    color: white;
    text-align: center;
    padding: 10px;
    
}

.body-header {
    color: white;
    text-align: center;
    font-family: Arial;
}

.body-footer {
    color:rgb(178, 202, 194);
    text-align: center;
    font-family: Arial;
}

.introduction-body {
    text-align: center;
}

a:link {
    color:aquamarine;
}

a:visited {
    color:darkgreen;
}

a:hover {
    color:greenyellow;
}

div.introduction-info {
    text-align: center;
}

ul.intro-list {
    display: inline-block;
    text-align: left;
}

.contract-body {
    text-align: center;
}

.tabulardata div {
    text-align: center;
}

.tabulardata {
    display: inline-block;
    text-align: left;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table, tr, td, th {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
}

.complextable tr:nth-child(odd) {
    background-color:rgba(227, 227, 227, 0.391);
}

.complextable tr:first-child {
    background-color: rgb(0, 84, 84);
}