/* COLOR PALETTE
    Dark Gray #545F66
    Light Gray #829399
    Mint Green #D0F4EA
    Tea Green #E8FCC2
    Pistachio #B1CC74
*/

* {
    box-sizing: border-box;
}


body {
    background-color: #202425;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #eff7f4;
    margin: 0;
}

body h1 {
    text-align: center;
    color: #a9f7e1;
}

body h2 {
    text-align: center;
    color: #639486;
}

body h3 {
    text-align: center;
     color: #64c0a6;
}

body a {
    color: #00d169;
    text-decoration: none;
}

body a:hover {
    color: #a1b84f98;
    text-decoration: underline;
}

/* PLANNING ONLY - REMOVE */
.planning {
    border: 3px solid orangered;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.section-planning {
    border: 3px solid rgb(0, 183, 255);
}

/* REMOVE ABOVE */

.nav-bar-container {
    background-color: #eff7f4;
    padding: 2px;
    padding-bottom: none;
    border: 1px solid #829399;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
}

.logo img {
    margin-left: 10px;
}

.links {
    list-style-type: none;
    margin-top: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    margin-right: auto;
}

.links li {
    display: inline-block;
    margin: 0;
}

.nav-icon {
    transition: filter 0.5s ease;
}

.nav-icon:hover {
    filter: brightness(70%);
    border: none;
}

.no-css-btn {
    border: none; 
    background-color: orangered; 
    color: white; 
    font-size: 16px;
    margin-left: auto;
    margin-right: 10px;
}

.no-css-btn:hover {
    cursor: pointer; 
}

.centered-div {
    margin-left: auto;
    margin-right: auto;
}

.nav-bar-container a {
    color: #000000;
    padding: 10px;
    text-decoration: none;
}

.main-content {
    padding-top: 60px;
    width: 100%;
}

.page-footer {
    margin-top: 2px;
}

.validation-buttons, .copyright-tag {
    text-align: center;
    padding: 0px;
}

.overview-container {
    background-color: #ffffffa4;
    border: 3px solid #464c4e
}

.side-by-side {
    display: flex;
    justify-content: center;
    color: #ffffff;
}

.side-by-side h2, .side-by-side h3 {
    color: #64c0a6;
}

.content-box {
    background-color: #464c4e;
    border: 2px solid #829299;
    padding: 10px;
    margin: 5px;
    width: 600px;
}

.content-box ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

.content-box li {
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.center-content {
    text-align: center;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.code-container {
    display: flex;
    justify-content: center;
}

.code-block {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 15px;
    background-color: #000000;
}

.code-breakdown {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #eff7f4;
    border: 2px solid #64c0a6;
}

.code-breakdown p {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    color: #202425;
}

.code-breakdown p span {
    margin-right: 30px;
}

.code-breakdown-btn {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-evenly;
}

.python-preview {
    display: block;
    align-content: center;
    width: 900px;
    background-color: #374244;
    border: 2px solid #64c0a6;
}

.previous-btn, .next-btn {
    font-size: 15px;
    width: 100px;
    max-width: 100px;
    color: #64c0a6;
    background-color: #000000;
    padding: 10px;
    border: 1px solid #829399;
}

.wide-box {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

.data-types table {
    border-collapse: collapse;
    width: 100%;
}

.data-types caption {
    font-weight: bold;
    padding: 10px;
    color: white;
}

.data-types th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
    background-color: #207158;
    color: white;
}

.data-types td {
    border: 1px solid #dddddd;
    padding: 8px;
}

.spacer {
    margin-top: 50px;
    margin-bottom: 50px;
}