/* COLOR PALETTE
    Dark Gray #545F66
    Light Gray #829399
    Mint Green #D0F4EA
    Tea Green #E8FCC2
    Pistachio #B1CC74
*/

body {
    background-color: #829299;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

/* PLANNING ONLY - REMOVE */
.planning, .nav-bar-container a {
    border: 3px solid orangered;
}

.nav-bar-container {
    background-color: #eff7f4;
    padding: 0px;
    border: 1px solid #829399;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
}

.logo img {
    margin-left: 10px;
    margin-right: 5px;
}

.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: auto;
}

.links li {
    display: inline-block;
    margin-right: 5px;
    padding: 15px;
}

.no-css-btn {
    border: none; 
    background-color: orangered; 
    color: white; 
    font-size: 16px;
    margin-left: auto;
    margin-right: 10px;
}

.no-css-btn:hover {
    cursor: pointer; 
}


.nav-bar-container a {
    color: #000000;
    padding: 10px;
    text-decoration: none;
}

.main-content {
    padding-top: 60px;
    width: 100%;
}

.page-footer {
    margin-top: 2px;
}

.validation-buttons, .copyright-tag {
    text-align: center;
    padding: 0px;
}