<p class="copyright-tag">
    Designed by: <a href="helmswebsolutions.com/">Helms Web Solutions</a> &copy;2024, 
        <a href="https://www.freecodecamp.org/certification/JaredHelms/responsive-web-design">Certified in RWD</a>, and <a href="https://www.freecodecamp.org/certification/JaredHelms/javascript-algorithms-and-data-structures-v8">Certified in JS</a>.
</p>
<div class="validation-buttons planning">
    <a id="validation_link_html" style="text-decoration: none;" href="https://validator.w3.org/check?uri=referer">
        <img style="border:0;width:88px;height:31px"
        src="images/button_validation_html5.png" alt="Valid HTML!">
    </a>
    <a id="validation_link_css" style="text-decoration: none;" href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
        src="images/button_validation_css.png" alt="Valid
        CSS!">
    </a>
    <a id="validation_link_wcag" style="text-decoration: none;" href="https://wave.webaim.org/report#/https://webpages.charlotte.edu/jhelms85/itis3135/hobby/index.html">
        <img style="border:0;width:88px;height:31px"
        src="images/button_validation_wcag.png" alt="Valid
        WCAG!">
    </a>
</div>