<div class="nav-bar-container planning">
    <div class="logo planning">
        <img src="images/company_logo.png" alt="Company Logo" width="60" height="60">
    </div>
    <nav>
        <ul class="links">
            <li><a href="index.html">Home</a></li>
            <li><a href="overview.html">Overview</a></li>
            <li><a href="syntax.html">Syntax</a></li>
            <li><a href="advanced.html">Advanced</a></li>
            <li><a href="documentation.html">Documentation</a></li>
            <li><a href="test.html">Test/Quiz</a></li>
        </ul>
    </nav>
    <img class="no-css-btn" src="images/no-css.png" alt="Remove CSS image" width="90" height="50" onclick="removeCSS()">
</div>