<div class="nav-bar-container">
    <div class="logo">
        <img src="images/company_logo.png" alt="Company Logo" width="50" height="50">
    </div>
    <nav>
        <ul class="links">
            <li><a href="index.html"><img class="nav-icon" src="images/home.png" alt="Home" width="145" height="50"></a></li>
            <li><a href="overview.html"><img class="nav-icon" src="images/overview.png" alt="Overview" width="145" height="50"></a></li>
            <li><a href="syntax.html"><img class="nav-icon" src="images/syntax.png" alt="Syntax" width="145" height="50"></a></li>
            <li><a href="basics.html"><img class="nav-icon" src="images/basics.png" alt="Basics" width="145" height="50"></a></li>
            <li><a href="advanced.html"><img class="nav-icon" src="images/advanced.png" alt="Advanced" width="145" height="50"></a></li>
            <li><a href="documentation.html"><img class="nav-icon" src="images/documentation.png" alt="Documentation" width="145" height="50"></a></li>
            <li><a href="test.html"><img class="nav-icon" src="images/test.png" alt="Test/Quiz" width="145" height="50"></a></li>
        </ul>
    </nav>
    <img class="no-css-btn nav-icon" src="images/no-css.png" alt="Remove CSS image" width="90" height="50" onclick="removeCSS()">
</div>
