<nav class="link-bar">
    <a href="https://webpages.charlotte.edu/jhelms85/">Charlotte.edu</a>
    ||
    <a href="https://github.com/jhelms85/jhelms85.github.io/tree/main/itis3135">GitHub</a>
    ||
    <a href="https://github.com/jhelms85/jhelms85.github.io">Github.io</a>
    ||
    <a href="https://www.freecodecamp.org/JaredHelms">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/jaredhelms01">CodeAcademy</a>
    ||
    <a href="https://www.linkedin.com/in/jared-l-helms/">LinkedIn</a>
</nav>

<p>
    Designed by: <a href="helmswebsolutions.com/">Helms Web Solutions</a> &copy;2024, 
        <a href="https://www.freecodecamp.org/certification/JaredHelms/responsive-web-design">Certified in RWD.</a></span>
</p>

<p><strong>"The finest in horse ADHD and other medications for horses."</strong></p>

<p><button type = "button" onclick = 	"document.querySelectorAll('link[rel=stylesheet]').forEach(function(e)	{e.setAttribute('href', '');});">No CSS</button></p>

<a id="validation_link_html" style="text-decoration: none;" href="https://validator.w3.org/check?uri=referer">
    <img style="border:0;width:88px;height:31px"
    src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_HTML5_certified.png" alt="Valid HTML!">
</a>
<a id="validation_link_css" style="text-decoration: none;" href="https://jigsaw.w3.org/css-validator/check/referer">
    <img style="border:0;width:88px;height:31px"
    src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid
    CSS!">
</a>