<h1>Jared Helms's Jittery Horse || ITIS 3135</h1>
        <nav>
            <a href="./">Homepage</a>
            ||
            <a href="introduction.html">Introduction</a>
            ||
            <a href="contract.html">Contract</a>
            ||
            <a href="tables.html">Tables</a>
            ||
            <a href="forms.html">Form</a>
            ||
            <a href="website_evaluations.html">Website Evaluations</a>
            ||
            <a href="firstscripts.html">First Scripts</a>
            ||
            <a href="byo_intro.html">BYO Intro</a>
            ||
            <a href="calculator_try.html">Calculator Try</a>
            ||
            <a href="about.html">About Jittery Horse</a>
            ||
            <a href="project_overview.html">Project Overview</a>
            ||
            <a href="arrays.html">Arrays</a>
            ||
            <a href="https://webpages.charlotte.edu/jhelms85/">Back to Main Site</a>
        </nav>
        <nav class="secondary-navigation">
            <a href="stuff/SumwebSIte.htm">CRAPPY Website</a>
        </nav>