<h1>Jared Helms's Jittery Horse || ITIS 3135</h1>
        <nav>
            <a href="./">Homepage</a>
            ||
            <a href="/itis3135/introduction.html">Introduction</a>
            ||
            <a href="/itis3135/contract.html">Contract</a>
            ||
            <a href="/itis3135/tables.html">Tables</a>
            ||
            <a href="/itis3135/forms.html">Form</a>
            ||
            <a href="/itis3135/website_evaluations.html">Website Evaluations</a>
            ||
            <a href="/itis3135/firstscripts.html">First Scripts</a>
            ||
            <a href="/itis3135/byo_intro.html">BYO Intro</a>
            ||
            <a href="/itis3135/calculator_try.html">Calculator Try</a>
            ||
            <a href="/itis3135/jitteryhorse.com/index.html">Jittery Horse Site</a>
            ||
            <a href="/itis3135/project_overview.html">Project Overview</a>
            ||
            <a href="https://webpages.charlotte.edu/jhelms85/">Back to Main Site</a>
        </nav>
        <nav class="secondary-navigation">
            <a href="stuff/SumwebSIte.htm">CRAPPY Website</a>
        </nav>